* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Work Sans";
  font-style: normal;
  color: #292E3D;
  margin: 0;
}

.container {
  width: 1440px;
  height: auto;
  margin: 0 auto;
}

.box {
  width: 1440px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 112px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.logo__label {
  font-style: italic;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #2947A9;
  margin-left: 10px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}
.nav__list:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.nav__link:hover {
  color: #F9995D;
}

.mission {
  width: 1440px;
  height: 646px;
  background-color: #b91010;
  background-image: url(../image/build11.jpg);
  background-size: cover;
  position: relative;
}
.mission__building {
  font-weight: 600;
  font-size: 72px;
  line-height: 84px;
  color: #292E3D;
  position: absolute;
  top: 239px;
  left: 112px;
  width: 556px;
  height: 168px;
}
.mission__back, .mission__next {
  width: 208px;
  height: 40px;
  background-color: #292E3D;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.mission__back {
  position: absolute;
  right: 208px;
}
.mission__back span, .mission__next span {
  color: #FFFFFF;
}

.mission__feature {
  width: 416px;
  height: 150px;
  background-color: #2947A9;
  position: absolute;
  right: 0;
  bottom: 40px;
}
.mission__feature__name, .mission__feature__building {
  color: #FFFFFF;
  text-align: center;
  margin-top: 20px;
}
.mission__feature__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}
.mission__feature__building {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.reputation {
  width: 1440px;
  height: 433px;
}
.reputation__item {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 50px;
}
.reputation__box {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 80px;
}

.bestbox {
  border: 1px solid #E0E3EB;
  border-radius: 4px;
  width: 292px;
  height: 197px;
  padding-top: 20px;
  padding-left: 20px;
}
.bestbox__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin-top: 20px;
}
.bestbox__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-top: 18px;
  padding-right: 18px;
}

.history {
  height: 945px;
  position: relative;
}
.history__image {
  width: 902px;
  height: 669px;
  position: absolute;
  top: 74px;
  left: 114px;
  -o-object-fit: cover;
     object-fit: cover;
}
.history__block {
  width: 488px;
  height: 523px;
  background-color: #2947A9;
  position: absolute;
  top: 147px;
  right: 112px;
}
.history__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
  margin: 50px 0 0 40px;
}
.history__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  margin: 37px 60px 0 40px;
}
.history__button {
  width: 219px;
  height: 53px;
  margin: 74px 0 0 40px;
  background-color: #FFFFFF;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #2947A9;
}
.history__button:hover {
  -webkit-box-shadow: inset 0 0 5px 2px;
          box-shadow: inset 0 0 5px 2px;
  font-size: 17px;
}

.services {
  height: 608px;
  background-color: #F6F8F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin: 44px 0 36px 0;
}

.services__box {
  list-style: none;
  padding: 0;
  width: 1009px;
  height: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__item {
  background-color: #2947A9;
  border-radius: 4px;
  width: 271px;
  height: 181px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__item--white {
  background-color: #FFFFFF;
}

.services__icon {
  width: 50px;
  height: 50px;
  position: relative;
}

.services__picture {
  width: 23.3px;
  height: 23.3px;
  background-color: #7595FD;
  position: absolute;
  bottom: 0;
  left: 0;
}

.services__logos {
  position: absolute;
}

.services__logos--construction {
  width: 31.66px;
  height: 33.33px;
  bottom: 3.34px;
  left: 3.33px;
}

.services__logos--constructiontoo {
  width: 3.33px;
  height: 3.33px;
  bottom: 11.67px;
  left: 11.67px;
}

.services__logos--renovation {
  width: 31.67px;
  height: 33.33px;
  bottom: 3.33px;
  left: 5px;
}

.services__logos--consultation {
  width: 31.94px;
  height: 31.97px;
  bottom: 4.02px;
  left: 4.03px;
}

.services__logos--repair {
  width: 33.33px;
  height: 26.67px;
  bottom: 6.67px;
  left: 3.33px;
}

.services__logos--architecture {
  width: 18.82px;
  height: 30px;
  bottom: 5px;
  left: 10.6px;
}

.services__logos--electric {
  width: 15px;
  height: 21.67px;
  bottom: 11.67px;
  left: 5px;
}

.services__logos--electrictoo {
  width: 18.33px;
  height: 13.33px;
  bottom: 6.67px;
  left: 16.67px;
}

.services__line {
  width: 60px;
  height: 2px;
  background-color: #E0E3EB;
  margin: 20px 0;
}

.services__name {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #2947A9;
}

.services__name--white {
  color: #FFFFFF;
}

.experience {
  height: 723px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.experience__years {
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
}
.experience__years__name {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #2947A9;
  margin-top: 172px;
}
.experience__years__description {
  width: 330px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #525B7A;
  margin-top: 40px;
}
.experience__years__button {
  width: 176px;
  height: 53px;
  margin-top: 40px;
  padding: 16px 39px;
  background-color: #2947A9;
  border: none;
  border-radius: 2px;
}
.experience__years__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.experience__box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  list-style-type: none;
  padding: 0;
  position: relative;
}
.experience__box__item {
  height: 155px;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  -webkit-box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1), 0px 4px 6px -2px rgba(17, 24, 39, 0.05);
          box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1), 0px 4px 6px -2px rgba(17, 24, 39, 0.05);
  border-radius: 4px;
  position: relative;
}
.experience__box__item--clients {
  width: 280px;
  position: absolute;
  top: 122px;
  left: 512px;
  z-index: 4;
}
.experience__box__item--completed {
  width: 361px;
  position: absolute;
  top: 221px;
  left: 212px;
  z-index: 1;
}
.experience__box__item--win {
  width: 286px;
  position: absolute;
  bottom: 204px;
  left: 458px;
  z-index: 3;
}
.experience__box__item--business {
  width: 333px;
  position: absolute;
  bottom: 99px;
  left: 261px;
  z-index: 2;
}
.experience__box__image {
  position: absolute;
}
.experience__box__image--one {
  top: -19px;
  right: -28px;
}
.experience__box__image--two {
  top: -49px;
  left: -33px;
}
.experience__box__image--three {
  top: -15px;
  right: -21px;
}
.experience__box__image--four {
  bottom: -42px;
  right: -39px;
}
.experience__box__number {
  font-weight: 600;
  font-size: 72px;
  line-height: 50px;
  padding: 30px 0 0 30px;
}
.experience__box__description {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #667299;
  margin: 15px 0 0 65px;
}
.experience__box__line {
  width: 7px;
  height: 28px;
  background-color: #F9995D;
  position: absolute;
  bottom: 30px;
  left: 46px;
  border: none;
}

.consultation {
  height: 300px;
  background-image: url("../image/bg-consultation.png");
  position: relative;
}
.consultation__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
  padding: 100px 0 0 112px;
}

.consultation__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0 0 112px;
}
.consultation__phone__call, .consultation__phone__number {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.consultation__button {
  width: 233px;
  height: 52px;
  border: 3px solid #FFFFFF;
  border-radius: 2px;
  position: absolute;
  top: 124px;
  right: 159px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.consultation__button__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.projects {
  height: 1098px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  width: 416px;
  background-color: #b91010;
}
.sidebar__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin: 88px 0 40px 112px;
}

.ourprojects {
  list-style: none;
  padding-left: 119px;
}
.ourprojects__list {
  background-color: darkgreen;
  margin-bottom: 20px;
}
.ourprojects__list:hover {
  list-style-image: url(../image/Rectangle.svg);
}
.ourprojects__link {
  color: #cad6c2;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  padding-left: 13px;
}
.ourprojects__link:hover {
  color: #2947A9;
  font-weight: 700;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #F9995D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 170px;
}

.catalog {
  background-color: #2947A9;
  width: 384px;
  height: 331px;
}
.catalog__image {
  width: 384px;
  height: 247px;
}
.catalog__building, .catalog__address {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  padding: 12px 0 0 12px;
}
.catalog__address {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.buttons {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.buttons__back, .buttons__next {
  width: 295px;
  height: 64px;
  background-color: #292E3D;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}