* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Work Sans";
  font-style: normal;
  color: #292E3D;
  margin: 0;
}

.container {
  width: 1440px;
  height: auto;
  margin: 0 auto;
}

.box {
  width: 1440px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 112px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.logo__label {
  font-style: italic;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #2947A9;
  margin-left: 10px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}
.nav__list:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.nav__link:hover {
  color: #F9995D;
}