@import 'utils/colors';

* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    font-style: normal;
    color: $blackColorBcg;
    margin: 0;
}

.container {
    width: 1440px;
    height: auto;
    margin: 0 auto;
}

// header
.box {
    width: 1440px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 112px;
}

@import 'components/logo';

.nav {
    display: flex;
    list-style: none;
    padding: 0;

    &__list:not(:last-child) {
        margin-right: 50px;
    }

    &__link {
        text-decoration: none;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }

    &__link:hover {
        color: $orangeColorHover;
    }
}

// mission
.mission {
    width: 1440px;
    height: 646px;
    background-color: #b91010;
    background-image: url(../image/build11.jpg);
    background-size: cover;
    position: relative;

    &__building {
        font-weight: 600;
        font-size: 72px;
        line-height: 84px;
        color: $blackColorBcg;
        position: absolute;
        top: 239px;
        left: 112px;
        width: 556px;
        height: 168px;
    }

    &__back, &__next  {
        width: 208px;
        height: 40px;
        background-color: $blackColorBcg;
        color: $mainWhiteColor;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &__back {
        position: absolute;
        right: 208px;
    }

    &__back span, &__next span {
        color: $mainWhiteColor;
    }
}

.mission__feature {
    width: 416px;
    height: 150px;
    background-color: $mainBlueColor;
    position: absolute;
    right: 0;
    bottom: 40px;

    &__name, &__building {
        color: $mainWhiteColor;
        text-align: center;
        margin-top: 20px;
    }
    
    &__name {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
    }

    &__building {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }
}

// reputation
.reputation {
    width: 1440px;
    height: 433px;

    &__item {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 50px;
    }

    &__box {
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 80px;
    }
}

.bestbox {
    border: 1px solid #E0E3EB;
    border-radius: 4px;
    width: 292px;
    height: 197px;
    padding-top: 20px;
    padding-left: 20px;

    &__name {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        margin-top: 20px;
    }

    &__description {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-top: 18px;
        padding-right: 18px;
    }
}

// history
.history {
    height: 945px;
    position: relative;

    &__image {
        width: 902px;
        height: 669px;
        position: absolute;
        top: 74px;
        left: 114px;
        object-fit: cover;
    }

    &__block {
        width: 488px;
        height: 523px;
        background-color: $mainBlueColor;
        position: absolute;
        top: 147px;
        right: 112px;
    }

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        color: $mainWhiteColor;
        margin: 50px 0 0 40px;
    }

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: $mainWhiteColor;
        margin: 37px 60px 0 40px;
    }
    
    &__button {
        width: 219px;
        height: 53px;
        margin: 74px 0 0 40px;
        background-color: $mainWhiteColor;
        border-radius: 6px;
        border: none;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: $mainBlueColor;
    }

    &__button:hover {
        box-shadow: inset 0 0 5px 2px;
        font-size: 17px;
    }
}

// services
.services {
    height: 608px;
    background-color: $grayColorBcg;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin: 44px 0 36px 0;
}

.services__box {
    list-style: none;
    padding: 0;
    width: 1009px;
    height: 410px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.services__item {
    background-color: $mainBlueColor;
    border-radius: 4px;
    width: 271px;
    height: 181px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services__item--white {
    background-color: $mainWhiteColor;
}

.services__icon {
    width: 50px;
    height: 50px;
    position: relative;
}

@mixin miniBox ($color) {
    background-color: $color;
}

.services__picture {
    width: 23.3px;
    height: 23.3px;
    @include miniBox (#7595FD);
    position: absolute;
    bottom: 0;
    left: 0;
}

.services__logos {
    position: absolute;
}

.services__logos--construction {
    width: 31.66px;
    height: 33.33px;
    bottom: 3.34px;
    left: 3.33px;
}

.services__logos--constructiontoo {
    width: 3.33px;
    height: 3.33px;
    bottom: 11.67px;
    left: 11.67px;
}

.services__logos--renovation {
    width: 31.67px;
    height: 33.33px;
    bottom: 3.33px;
    left: 5px;
}

.services__logos--consultation {
    width: 31.94px;
    height: 31.97px;
    bottom: 4.02px;
    left: 4.03px;
}

.services__logos--repair {
    width: 33.33px;
    height: 26.67px;
    bottom: 6.67px;
    left: 3.33px;
}

.services__logos--architecture {
    width: 18.82px;
    height: 30px;
    bottom: 5px;
    left: 10.6px;
}

.services__logos--electric {
    width: 15px;
    height: 21.67px;
    bottom: 11.67px;
    left: 5px;
}

.services__logos--electrictoo {
    width: 18.33px;
    height: 13.33px;
    bottom: 6.67px;
    left: 16.67px;
}

.services__line {
    width: 60px;
    height: 2px;
    background-color: #E0E3EB;
    margin: 20px 0;
}

.services__name {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: $mainBlueColor;
}

.services__name--white {
    color: $mainWhiteColor;
}


// experience
.experience {
    height: 723px;
    display: flex;
    flex-direction: row-reverse;
}

.experience__years {
    flex-basis: 500px;

    &__name {
        font-weight: 700;
        font-size: 60px;
        line-height: 70px;
        color: $mainBlueColor;
        margin-top: 172px;
    }

    &__description {
        width: 330px;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: #525B7A;
        margin-top: 40px;
    }

    &__button {
        width: 176px;
        height: 53px;
        margin-top: 40px;
        padding: 16px 39px;
        background-color: $mainBlueColor;
        border: none;
        border-radius: 2px;
        
    }

    &__link {
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: $mainWhiteColor;
        text-decoration: none;
    }
}

.experience__box {
    flex-grow: 1;
    list-style-type: none;
    padding: 0;
    position: relative;

    &__item {
        height: 155px;
        background-color: $mainWhiteColor;
        border: 1px solid $mainWhiteColor;
        box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1), 0px 4px 6px -2px rgba(17, 24, 39, 0.05);
        border-radius: 4px;
        position: relative;
    }

    &__item--clients {
        width: 280px;
        position: absolute;
        top: 122px;
        left: 512px;
        z-index: 4;
    }

    &__item--completed {
        width: 361px;
        position: absolute;
        top: 221px;
        left: 212px;
        z-index: 1;
    }

    &__item--win {
        width: 286px;
        position: absolute;
        bottom: 204px;
        left: 458px;
        z-index: 3;
    }

    &__item--business {
        width: 333px;
        position: absolute;
        bottom: 99px;
        left: 261px;
        z-index: 2;
    }

    &__image {
        position: absolute;
    }

    &__image--one {
        top: -19px;
        right: -28px;
    }

    &__image--two {
        top: -49px;
        left: -33px;
    }

    &__image--three {
        top: -15px;
        right: -21px;
    }

    &__image--four {
        bottom: -42px;
        right: -39px;
    }

    &__number {
        font-weight: 600;
        font-size: 72px;
        line-height: 50px;
        padding: 30px 0 0 30px;
    }

    &__description {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #667299;
        margin: 15px 0 0 65px;
    }

    &__line {
        width: 7px;
        height: 28px;
        background-color: #F9995D;
        position: absolute;
        bottom: 30px;
        left: 46px;
        border: none;
    }
}

// consultation
.consultation {
    height: 300px;
    background-image: url('../image/bg-consultation.png');
    position: relative;

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        color: $mainWhiteColor;
        padding: 100px 0 0 112px;
    }
}

.consultation__phone {
    display: flex;
    padding: 30px 0 0 112px;
    
    &__call, &__number {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: $mainWhiteColor;
    }
}

.consultation__button {
    width: 233px;
    height: 52px;
    border: 3px solid $mainWhiteColor;
    border-radius: 2px;
    position: absolute;
    top: 124px;
    right: 159px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__link {
        font-weight: 600;
        font-size: 18px; 
        line-height: 21px;
        color: $mainWhiteColor;
        text-decoration: none;
    }
}

// projects
.projects {
    height: 1098px;
    display: flex;
}

@import 'components/sibebar';

@import 'components/catalog-buildings';

@import 'components/catalog-buttons';