.foot {
    height: 477px;
    display: flex;
    flex-direction: column;
}

.communication {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin: 85px 112px 80px;
}

.communication1 {

    &__address {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 32px;
    }

    &__bigtext {
        text-transform: uppercase;
        color: $mainBlueColor;
    }

    &__link {
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: $blackColorBcg;
        text-decoration: none;
    }
}

.communication2left {
    margin-bottom: 42px;

    &__bigtext {
        @extend .communication1__address;
        @extend .communication1__bigtext;
        padding-bottom: 20px;
        margin-bottom: 0;
    }

    &__button {
        width: 136px;
        height: 41px;
        border: none;
        border-radius: 4px;
        background-color: $orangeColorHover;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: $mainWhiteColor;
        margin-left: 2px;
    }
}

.icons {
    display: flex;
    flex-direction: row;
    column-gap: 20px;

    &__fb {
        width: 40px;
        height: 40px;
        background-color: #3D445C;
        mask-image: url(../image/social-fb.svg);
        mask-repeat: no-repeat;
        mask-size: 40px 40px;
    }

    &__in {
        width: 40px;
        height: 40px;
        background-color: #3D445C;
        mask-image: url(../image/social-in.svg);
        mask-repeat: no-repeat;
        mask-size: 41px 41px;
    }

    &__tw {
        width: 40px;
        height: 40px;
        background-color: #3D445C;
        mask-image: url(../image/social-tw.svg);
        mask-repeat: no-repeat;
        mask-size: 41px 41px;
    }

    &__fb:hover, &__in:hover, &__tw:hover {
        background-color: $mainBlueColor
    }
}

.security {
    height: 70px;
    background-color: $mainBlueColor;
    
    &__description {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $mainWhiteColor;
        padding: 26px 0 0 112px;
    }
}