.logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    &__label {
        font-style: italic;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        color: $mainBlueColor;
        margin-left: 10px;
    }
}