.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo__image {
    // background-color: aquamarine;
    // width: 70px;
    // height: 70px;
}

.logo__label {
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: $mainBlueColor;
    // background-color: burlywood;
    margin-left: 10px;
}