.sidebar {
    min-width: 416px;

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        margin: 88px 0 40px 112px;
    }
}

.ourprojects {
    list-style: none;
    padding-left: 112px;

    &__list {
        background-color: darkgreen;
        margin-bottom: 20px;
    }

    // &__list:hover {
    //     list-style-image: url(../image/Rectangle.svg);
    // }

    &__link {
        color: #cad6c2;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-decoration: none;
        padding-left: 16px;
    }
    
    &__link:hover {
        color: $mainBlueColor;
        font-weight: 700;
    }

    &__list:hover::before {
        content: '';
        width: 4px;
        height: 28px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("/image/Rectangle.svg");
        display: inline-block;
        // margin-right: 15px;
    }
}